// Import main CSS file and style your components using Jux.
import './main.css';
import { css } from '@juxio/css';

const Home = () => (
  <p
    className={css({
      color: 'violet',
      '& span': { color: 'darkviolet' },
    })}
  >
    Hello from <span>Jux 🤖</span>
  </p>
);
