---
import { MyStyledComponent, titleStyle } from './StyledJuxComponent';
import { MyButton } from '../jux/components/MyButton.tsx';
---

<MyStyledComponent title="Hello, Astro!">
  <p class={titleStyle}>From Jux 🤖</p>
</MyStyledComponent>
<MyButton />
