import { defineConfig } from '@juxio/cli';
import * as tokens from './src/jux/tokens';

export default defineConfig({
  /* ... */
  core_tokens: tokens.core,
  themes: {
    light: tokens.light,
    dark: tokens.dark,
    my_custom_theme: tokens.my_custom_theme,
  },
  /* ... */
});
