@layer juxbase, juxtokens, juxutilities;

.sl-markdown-content :is(img) {
  border: 1px solid var(--sl-color-gray-6);
  border-radius: 8px;
}

.sl-markdown-content :is(ul) {
  margin-top: 4px !important;
}

.sl-markdown-content li > :last-child {
  margin-bottom: 0 !important;
}

starlight-image-zoom-zoomable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-link-card:has(.highlight) {
  background-color: var(--highlight-color);
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #131e4f;
  --sl-color-accent: #3447ff;
  --sl-color-text-accent: var(--sl-color-gray-1);
  --sl-color-accent-high: #b3c7ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --sl-color-bg-nav: #000;

  --jux-color-text-strong: var(--sl-color-white);
  --jux-color-text-weak: var(--sl-color-gray-3);

  --sl-color-bg-sidebar: var(--sl-color-bg);

  --sl-sidebar-width: 19.5rem;
  --highlight-color: #0a1f5c;
}

@media (min-width: 72rem) {
  .right-sidebar-container {
    width: var(--sl-sidebar-width);
  }
}

@media (min-width: 72rem) {
  .main-pane {
    flex: 8 1 0;
    display: flex;
    justify-content: center;
  }
}

a.large {
  font-weight: normal;
}

a.large:hover {
  font-weight: normal;
}

.sidebar-content {
  border-inline-end: 1px solid var(--sl-color-gray-6);
}

/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #c7d6ff;
  --sl-color-accent: #364bff;
  --sl-color-text-accent: var(--sl-color-gray-1);
  --sl-color-accent-high: #182775;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;

  --jux-color-text-strong: var(--sl-color-white);
  --jux-color-text-weak: var(--sl-color-gray-4);

  --sl-badge-default-bg: var(--sl-color-text-accent);
  --sl-color-text-badge: var(--sl-color-text-accent);
  --sl-color-blue-low: #e3ebfa;

  --sl-color-bg-nav: #fff;

  --highlight-color: #e5f2ff;
}

.code-preview > .expressive-code pre {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.no-border {
  border: none !important;
}

mobile-starlight-toc {
  display: none;
}
