---
import config from 'virtual:starlight/user-config';
import type { Props } from '@astrojs/starlight/props';
import SpeedInsights from '@vercel/speed-insights/astro';

import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
import Search from '@astrojs/starlight/components/Search.astro';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import HeaderButtons from './HeaderButtons';

let current = '';
if (Astro.props.slug.startsWith('developers')) {
  current = 'developers';
} else if (Astro.props.slug.startsWith('editor')) {
  current = 'editor';
}

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch =
  config.pagefind ||
  config.components?.Search !== '@astrojs/starlight/components/Search.astro';
---

<div class="header sl-flex">
  <SpeedInsights />
  <div class="title-wrapper sl-flex flex-grow-1" style="flex-grow: 1">
    <SiteTitle {...Astro.props} />
  </div>
  <div class="sl-flex">
    {shouldRenderSearch && <Search {...Astro.props} />}
  </div>
  <HeaderButtons client:load current={current} />
  <div class="sl-hidden md:sl-flex right-group">
    <div class="sl-flex social-icons sl-hidden">
      <SocialIcons {...Astro.props} />
    </div>
    <div class="theme-select sl-hidden">
      <ThemeSelect {...Astro.props} />
    </div>
    <LanguageSelect {...Astro.props} />
  </div>
</div>

<style>
  .header {
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .title-wrapper {
    /* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
    overflow: hidden;
  }

  .right-group,
  .social-icons {
    gap: 1rem;
    align-items: center;
  }
  .social-icons::after {
    content: '';
    height: 2rem;
    border-inline-end: 1px solid var(--sl-color-gray-5);
  }

  @media (min-width: 50rem) {
    :global(:root[data-has-sidebar]) {
      --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
    }
    :global(:root:not([data-has-toc])) {
      --__toc-width: 0rem;
    }
    .header {
      display: flex;
    }
  }

  @media (min-width: 1024px) {
    .theme-select {
      display: inherit;
    }
  }
</style>
